# Part 2: Data Scientist Completes Experiment

In this notebook, a we will show how a data scientist can create an account with a Domain client (localhost:5000 by default), perform an experiment, and then request their results.

### Step 1: Login as a Data Scientist

_(create an account first if necessary)_

In [3]:
import syft as sy

In [4]:
# run this cell first/instead if you havne't created an account yet
# comment it out if the account already exists. Note that this logs you
# in automatically as well (returning a domain node)
domain = sy.register(email="scientist6@researchorg.edu", password="pwd123")

# login as a data scientist if you didn't just register
domain = sy.login(email="scientist6@researchorg.edu", password="pwd123")

### Step 2: Find a Dataset

Now a data scientist must search for a dataset relevant to their problem.

In [6]:
domain.datasets