# PyGrid Client Group API

In [1]:
from syft.grid.client.client import connect
from syft.grid.client.grid_connection import GridHTTPConnection
from syft.core.node.domain.client import DomainClient

import syft as sy
import torch as th

sy.VERBOSE = False

In [2]:
client = connect(
    url="http://localhost:5000", # Domain Address
    credentials={"email":"admin@email.com", "password":"pwd123"},
    conn_type= GridHTTPConnection, # HTTP Connection Protocol
    client_type=DomainClient) # Domain Client type

In [3]:
client.users.create(email="group_user1@email.com", password="user123")
client.users.create(email="group_user2@email.com", password="user123")
client.users.create(email="group_user3@email.com", password="user123")
client.users.create(email="group_user4@email.com", password="user123")

{'message': 'User created successfully!'}

In [4]:
client.users.all(pandas=True)

,id,email,private_key,verify_key,role
0,1,admin@email.com,4dc847d2a3d27841a561d7bc8d8f2aeba07fc0f0b583e2...,7a635f39c7034aa47a9b1547aa91162514b2168c94de65...,4
1,2,group_user1@email.com,db99f397e34385ca3a9eafaea472187c98476ba3c885c3...,c6f47d29e3b52cf42e0b80fe7d0e11ccda6d777a912bbc...,1
2,3,group_user2@email.com,ee8917e461e8a72d4d828b20035d407ca4ff6dc5c77706...,1690f030d5a32382c2478fa2d5894a1496afe872ce4ad3...,1
3,4,group_user3@email.com,5a37c486e479ba75c46107b454a217cb5d273e80f3b211...,cd709d30ca448b79b8e8100808e90c7e8d5460e019b072...,1
4,5,group_user4@email.com,502d8daa7182452403d98434130a5cf6a3c7b237b833bc...,dcfaf62b87bf599b6966d9b68172d2f23f30302ca4b94b...,1

In [5]:
client.groups.create(name="Research Group", users=[4,3,1])
client.groups.create(name="Diabetes Medical Ward", users=[2,1])
client.groups.create(name="Cancer Research", users=[1,4])

{'msg': 'Group created successfully!'}

In [6]:
client.groups.all(pandas=True)

   id                   name      users
0   1         Research Group  [4, 3, 1]
1   2  Diabetes Medical Ward     [2, 1]
2   3        Cancer Research     [1, 4]

In [7]:
_group = client.groups.get(group_id=2)
print("Group Name: ", _group.name)
print("Group Users: ", _group.users)

Group Name:  Diabetes Medical Ward
Group Users:  [2, 1]

In [8]:
client.groups.update(group_id=2, name="Heart Disease Research", users=[4,3,1])

{'msg': 'Group updated successfully!'}

In [9]:
_group = client.groups.get(group_id=2)
assert _group.name == "Heart Disease Research"
assert _group.users == [4,3,1]

In [10]:
client.groups.delete(group_id=2)

{'msg': 'User deleted successfully!'}

In [11]:
client.groups.all(pandas=True)

   id             name      users
0   1   Research Group  [4, 3, 1]
1   3  Cancer Research     [1, 4]