In [1]:
import pandas as pd
import syft as sy

In [2]:
canada_data = pd.read_csv("../datasets/ca - feb 2021.csv")

/home/user/anaconda3/envs/pysyft/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
canada_data.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0

In [10]:
# Let's login into the domain
ca_domain_node = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!

In [11]:
# For, simplicity we will upload the first 10000 rows of the dataset.
canada = canada_data[:40000]

In [21]:
canada[["Trade Flow Code", "Partner Code", "Trade Value (US$)"]].values

array([[      1,     490,    9285],
       [      1,     818,  116604],
       [      1,     826, 1495175],
       ...,
       [      1,     598,     280],
       [      1,     440,    2987],
       [      1,     156,    2863]])

In [22]:
ca_domain_node.load_dataset(
    assets={"40k-feb2020-numpy": canada[["Trade Flow Code", "Partner Code", "Trade Value (US$)"]].values},
    name="Canada Trade Data - First 40000 rows",
    description="""A collection of reports from Canada's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

In [25]:
ca_domain_node.store.pandas["object_type"].unique()

array(["<class 'syft.lib.python.String'>",
       "<class 'syft.lib.python.Int'>", "<class 'syft.lib.python.Tuple'>",
       "<class 'syft.lib.python.list.List'>",
       "<class 'syft.lib.python.Float'>", "<class 'numpy.ndarray'>",
       "<class 'syft.core.tensor.smpc.share_tensor.ShareTensor'>",
       "<class 'pandas.core.frame.DataFrame'>",
       "<class 'syft.lib.python.Slice'>"], dtype=object)

In [27]:
ca_domain_node.store.pandas[ca_domain_node.store.pandas["object_type"] == "<class 'numpy.ndarray'>"]

,ID,Tags,Description,object_type
16,<UID: 4b49a5dcb2d34d8ea9d120c5f7f10d7d>,[],,<class 'numpy.ndarray'>
33,<UID: e988f13df61649d894253774c1f244d8>,[],,<class 'numpy.ndarray'>
73,<UID: 57d85142ce47419bb9d6a7fa09b2d598>,[],,<class 'numpy.ndarray'>
89,<UID: 285263d56c6c4bcc9621e0bc0250a0f2>,[#40k-feb2020-numpy],,<class 'numpy.ndarray'>
179,<UID: 9079eac14c2946e78ef0c1af352c271c>,[],,<class 'numpy.ndarray'>
184,<UID: 4507fefd39334f27b0073c97d1ff22af>,[],,<class 'numpy.ndarray'>
187,<UID: cf22b9177f974dfcb721367961e807a4>,[],,<class 'numpy.ndarray'>
188,<UID: 05514fdcd6204b74bccc619e991495af>,[],,<class 'numpy.ndarray'>
191,<UID: ac9329a67bef44b6b2d3f68d5cf53780>,[],,<class 'numpy.ndarray'>
193,<UID: c6067618bdce491c8faefd1a2be7bce9>,[],,<class 'numpy.ndarray'>
197,<UID: e5313860b4854485b3af4eb72fcdef9e>,[],,<class 'numpy.ndarray'>
198,<UID: d017941b2919401bb1502a76b9b85ede>,[],,<class 'numpy.ndarray'>
199,<UID: 63bb94e0ac474072af063f9c43b54114>,[],,<class 'numpy.ndarray'>

In [34]:
ca_domain_node.requests.pandas

Empty DataFrame
Columns: []
Index: []

In [33]:
ca_domain_node.requests[-1].accept()