In [1]:
import pandas as pd
import syft as sy

### Loading the dataset

In [15]:
italy_dataset = pd.read_csv("../datasets/it - feb 2021.csv")

/Users/atrask/opt/anaconda3/envs/syft/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
italy_dataset.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Australia,NaN,940510,Chandeliers and other electric ceiling or wall...,0,NaN,NaN,6.0,1899,0
1,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Indonesia,NaN,292700,"Diazo-, azo- or azoxy compounds",0,NaN,NaN,33600.0,134879,0
2,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Latvia,NaN,292700,"Diazo-, azo- or azoxy compounds",0,NaN,NaN,33127.0,314410,0
3,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Latvia,NaN,292990,Nitrogen-function compounds; n.e.s. in chapter...,0,NaN,NaN,4.0,4142,0
4,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Malaysia,NaN,293040,Organo-sulphur compounds; methionine,0,NaN,NaN,51000.0,104889,0

### Logging into the domain

In [19]:
it = sy.login(email="info@openmined.org", password="changethis", port=8082)

Connecting to http://localhost:8082... done! 	 Logging into italy... done!

### Upload the dataset to Domain node

In [20]:
# Selecting a subset of the dataset
italy_dataset = italy_dataset[:40000]

In [26]:
# We will upload only the first 40k rows and three columns
# All these three columns are of `int` type
sampled_italy_dataset = italy_dataset[["Trade Flow Code", "Partner Code", "Trade Value (US$)"]].values

# Convert the dataset to numpy array
sampled_italy_datset_numpy = sampled_italy_dataset

# Convert the numpy array to Tensor
italy_dataset_tensor = sy.Tensor(sampled_italy_datset_numpy).tag('data')
ptr = italy_dataset_tensor.send(it)

In [ ]:

it_domain_node.load_dataset(
    assets={"Italy-Numpy-feb2020-Tensor": italy_dataset_tensor},
    name="Italy Trade Data - First 40000 rows",
    description="""A collection of reports from Italy's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

In [7]:
it_domain_node.store.pandas['object_type'].unique()

array(["<class 'syft.core.tensor.tensor.Tensor'>"], dtype=object)

In [8]:
it_domain_node.store.pandas[it_domain_node.store.pandas['object_type'] == "<class 'syft.core.tensor.tensor.Tensor'>"]

,ID,Tags,Description,object_type
0,<UID: f422ae4696b2484bbf8f3ad02a082d42>,[#Italy-Numpy-feb2020-Tensor],,<class 'syft.core.tensor.tensor.Tensor'>

### Create a Data Scientist User

In [22]:
it.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
        "budget":10
    }
)

### Accept/Deny Requests to the Domain

In [13]:
it_domain_node.requests

[<RequestMessage: db24c2b2429b414086688da748cf5d4c>, <RequestMessage: 774057e1c0424f7eb2c7cedab30c2d72>, <RequestMessage: 4f3e38f0543a4ba0afa4f865390c3a37>, <RequestMessage: 371c9d05708046e6b4bcc85f6e652b74>, <RequestMessage: 559290ee2155471d9924583077050fd6>, <RequestMessage: dea61a8c3a94407c917fded42b14bb2c>, <RequestMessage: dafdd65efedf4715835da466d6c0fcfb>, <RequestMessage: 7ecc636401a74e24987074a4a9c42884>, <RequestMessage: 8cab75f760dc4d76be8d89640fb38cf6>, <RequestMessage: 901948c4fd7a43c086fc4e68581cd9c4>, <RequestMessage: 22854db0ab194ff2a7497172e257368f>, <RequestMessage: 783db5691a714a4bb54213d00220a69b>, <RequestMessage: 05f2d2eeb19d4668b6a715a129fb5de7>, <RequestMessage: 710a83c25cb343a1b96dce58e3417dea>, <RequestMessage: b185b3ad7f474c90897032de7266a71d>, <RequestMessage: a409b35bc3364bc7a7a0186e06bee4ef>, <RequestMessage: 36492886ba4644e49c8cff3006871150>, <RequestMessage: 8d1fcae7af924d2aa77808c73f3e50cc>, <RequestMessage: 08dfa7a71a3a4ea08c4810b748d19ac4>, <RequestMessage: 6f4e52f3793441c3a762fd1d36bdf5df>, <RequestMessage: a2ef59952cb24f9dab39f789702332bc>, <RequestMessage: 5a7db8b4392c4f2f894b1df29a9cfd4a>, <RequestMessage: abd6aeddb43d4b23b389ea01a2cd54b9>, <RequestMessage: b6854dc8493f48ee98ee6151f3c85915>, <RequestMessage: dbb5b5cba7144b2c902d9220773758cd>]

In [14]:
it_domain_node.requests[-1].accept()

In [13]:

it_domain_node.store.pandas[it_domain_node.store.pandas["object_type"] == "<class 'syft.core.tensor.smpc.share_tensor.ShareTensor'>"]

Empty DataFrame
Columns: [ID, Tags, Description, object_type]
Index: []