In [1]:
import pandas as pd
import syft as sy

In [2]:
italy_dataset = pd.read_csv("../datasets/it - feb 2021.csv")

/home/user/anaconda3/envs/pysyft/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
italy_dataset.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Australia,NaN,940510,Chandeliers and other electric ceiling or wall...,0,NaN,NaN,6.0,1899,0
1,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Indonesia,NaN,292700,"Diazo-, azo- or azoxy compounds",0,NaN,NaN,33600.0,134879,0
2,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Latvia,NaN,292700,"Diazo-, azo- or azoxy compounds",0,NaN,NaN,33127.0,314410,0
3,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Latvia,NaN,292990,Nitrogen-function compounds; n.e.s. in chapter...,0,NaN,NaN,4.0,4142,0
4,HS,2021,202102,February 2021,6,1,1,Imports,381,Italy,...,Malaysia,NaN,293040,Organo-sulphur compounds; methionine,0,NaN,NaN,51000.0,104889,0

In [5]:
it_domain_node = sy.login(email="info@openmined.org", password="changethis", port=8082)

Connecting to http://localhost:8082... done! 	 Logging into italy... done!

In [15]:
italy_dataset = italy_dataset[:40000]

In [17]:
it_domain_node.load_dataset(
    assets={"Italy-Numpy-feb2020": italy_dataset[["Trade Flow Code", "Partner Code", "Trade Value (US$)"]].values},
    name="Italy Trade Data - First 40000 rows",
    description="""A collection of reports from Italy's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

In [18]:
it_domain_node.store

In [20]:
it_domain_node.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga"
    }
)

In [21]:
italy_dataset['Partner Code']

(40000, 22)