In [25]:
import pandas as pd
import syft as sy

### Loading the dataset

In [26]:
canada_data = pd.read_csv("../datasets/ca - feb 2021.csv")

/home/user/anaconda3/envs/pysyft/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [27]:
canada_data.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0

### Logging into the domain

In [28]:
# Let's login into the domain
ca_domain_node = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!

### Upload the dataset to Domain node

In [29]:
# For, simplicity we will upload the first 40000 rows of the dataset.
canada = canada_data[:40000]

In [30]:
# We will upload only the first 40k rows and three columns
# All these three columns are of `int` type
sampled_canada_dataset = canada[["Trade Flow Code", "Partner Code", "Trade Value (US$)"]].values

# Convert the dataset to numpy array
sampled_canada_dataset_numpy = sampled_canada_dataset.values
sampled_canada_dataset_numpy

array([[      1,     490,    9285],
       [      1,     818,  116604],
       [      1,     826, 1495175],
       ...,
       [      1,     598,     280],
       [      1,     440,    2987],
       [      1,     156,    2863]])

In [31]:
# Convert the numpy array to Tensor
canada_dataset_tensor = sy.Tensor(sampled_canada_dataset_numpy)


ca_domain_node.load_dataset(
    assets={"40k-feb2020-numpy-Tensor": sy.Tensor(canada_dataset_tensor)},
    name="Canada Trade Data - First 40000 rows",
    description="""A collection of reports from Canada's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

In [32]:
ca_domain_node.store.pandas["object_type"].unique()

array(["<class 'syft.lib.python.String'>",
       "<class 'syft.lib.python.Int'>", "<class 'syft.lib.python.Tuple'>",
       "<class 'syft.lib.python.list.List'>",
       "<class 'syft.lib.python.Float'>", "<class 'numpy.ndarray'>",
       "<class 'syft.core.tensor.smpc.share_tensor.ShareTensor'>",
       "<class 'pandas.core.frame.DataFrame'>",
       "<class 'syft.core.tensor.tensor.Tensor'>",
       "<class 'syft.lib.python.Slice'>"], dtype=object)

In [48]:
ca_domain_node.store.pandas[ca_domain_node.store.pandas["object_type"] == "<class 'syft.core.tensor.tensor.Tensor'>"]

,ID,Tags,Description,object_type
91,<UID: 2ea270613b3847b5a65ebc0a8b6fb98e>,[#40k-feb2020-numpy],,<class 'syft.core.tensor.tensor.Tensor'>

In [38]:
ca_domain_node.requests.pandas

Empty DataFrame
Columns: []
Index: []

In [24]:
ca_domain_node.requests[-1].accept()