In [1]:
from syft.grid.client.client import connect
from syft.grid.client.grid_connection import GridHTTPConnection
from syft.grid.client.client import login, GridClient
from syft.core.node.domain.client import DomainClient

import syft as sy
import torch as th

import logging
logging.basicConfig()
logging.getLogger().setLevel(logging.INFO)

# start two different domain stacks
```
DOMAIN_PORT=8081 TRAEFIK_TAG=ca docker compose -p ca up
DOMAIN_PORT=8082 TRAEFIK_TAG=au docker compose -p au up
```

In [2]:
DOMAIN_PORT=8081

In [3]:
# use this url when running Jupyter on your main host
API_URL = f"http://localhost:{DOMAIN_PORT}/api/v1"

In [4]:
# # use this url when running Jupyter inside a container
# API_URL = f"http://docker-host:{DOMAIN_PORT}/api/v1"

In [5]:
print("Using API:", API_URL)

Using API: http://localhost:8081/api/v1

In [6]:
domain = GridClient(
    url=API_URL,
    client_type=DomainClient,
    conn_type=GridHTTPConnection
)

In [7]:
import torch as th

In [8]:
x = th.tensor([1,2,3,4]).send(domain)

In [9]:
x.get()

tensor([1, 2, 3, 4])

In [10]:
y = th.tensor([1,2,3,4]).send(domain)

In [11]:
y.get()

tensor([1, 2, 3, 4])

In [12]:
domain.setup(email="test", password="tst_pwd", domain_name="Test Node")

INFO:root:Running initial setup!

In [13]:
domain = login(url=API_URL,email="test", password="tst_pwd")

In [14]:
domain.conn.session_token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjU4NDM2MjcsInN1YiI6IjEifQ.4V6Y41Zd-0vsmQfiEe3XnTBIeODmunYOBEZjAOg9SWg'

In [15]:
domain.users.all(pandas=True)

,id,email,private_key,verify_key,role,groups
0,1,test,c4864207e8d52fa66ab731a5cbae33a96d5f462907b2f2...,f689fb8d77eaaeb33786075e23871725e4569807c73c29...,4,[]

In [16]:
domain = sy.login(url=API_URL, email="test", password="tst_pwd")

In [17]:
domain.conn.session_token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjU4NDM2MjksInN1YiI6IjEifQ.LGA9UmEbRQ3XnkfgO5ixWuqIvk9Y3zmeuo0MLvo3Nfc'

In [18]:
x =  th.tensor([1,2,3,4,5,6,7,8])
x_s = x.send(domain,tags=["#x-tags"])

In [19]:
domain.store.pandas

,ID,Tags,Description,object_type
0,<UID: ccb45f0f041c49f4a871ea1befc5ffb4>,[#x-tags],,<class 'torch.Tensor'>

In [20]:
domain.store.pandas

,ID,Tags,Description,object_type
0,<UID: ccb45f0f041c49f4a871ea1befc5ffb4>,[#x-tags],,<class 'torch.Tensor'>

In [21]:
y_s = x_s + x_s

In [22]:
y_s.get()

tensor([ 2,  4,  6,  8, 10, 12, 14, 16])

In [23]:
x_s.get()

tensor([1, 2, 3, 4, 5, 6, 7, 8])

In [24]:
x = domain.users.create(email="testing", password="tst_pwd")

INFO:root:User created successfully!

In [25]:
domain.users.all(pandas=True)

,id,email,private_key,verify_key,role,groups
0,1,test,c4864207e8d52fa66ab731a5cbae33a96d5f462907b2f2...,f689fb8d77eaaeb33786075e23871725e4569807c73c29...,4,[]
1,2,testing,9a182b4ced799940fa8480444560ff819c0409669ccef0...,edbea35e9f00d1a789132996fbc8bfda739d6c41e60837...,1,[]

In [26]:
domain = sy.login(url=API_URL, email="testing", password="tst_pwd")

In [27]:
domain