In [8]:
import syft as sy
import pandas as pd


uk = sy.login(url="http://137.135.44.171", 
              email="info@openmined.org", 
              port=80)

Welcome info@openmined.org!

Please enter you password: ··········

Connecting to http://137.135.44.171... done! 	 Logging into infallible_goodfellow... done!

In [9]:
uk.store

In [10]:
uk_data = pd.read_csv('../datasets/uk - dec 2020.csv')[0:50000]

/Users/andrewliamtrask/opt/anaconda3/envs/syft39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
uk_data

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2020,202012,December 2020,6,1,2,Exports,826,United Kingdom,...,Australia,NaN,482190,"Paper and paperboard; labels of all kinds, unp...",0,NaN,NaN,140.0,5845,0
1,HS,2020,202012,December 2020,6,1,2,Exports,826,United Kingdom,...,China,NaN,482190,"Paper and paperboard; labels of all kinds, unp...",0,NaN,NaN,208.0,70007,0
2,HS,2020,202012,December 2020,6,1,2,Exports,826,United Kingdom,...,Canada,NaN,482190,"Paper and paperboard; labels of all kinds, unp...",0,NaN,NaN,3101.0,4721,0
3,HS,2020,202012,December 2020,6,1,2,Exports,826,United Kingdom,...,Malaysia,NaN,482190,"Paper and paperboard; labels of all kinds, unp...",0,NaN,NaN,112.0,4166,0
4,HS,2020,202012,December 2020,6,1,2,Exports,826,United Kingdom,...,Morocco,NaN,482190,"Paper and paperboard; labels of all kinds, unp...",0,NaN,NaN,171.0,1803,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,HS,2020,202012,December 2020,6,1,2,Exports,826,United Kingdom,...,World,NaN,90112,"Coffee; decaffeinated, not roasted",0,NaN,NaN,16645.0,134956,0
49996,HS,2020,202012,December 2020,6,1,2,Exports,826,United Kingdom,...,World,NaN,90121,"Coffee; roasted, not decaffeinated",0,NaN,NaN,4099880.0,39500622,0
49997,HS,2020,202012,December 2020,6,1,2,Exports,826,United Kingdom,...,World,NaN,90111,Coffee; not roasted or decaffeinated,0,NaN,NaN,619216.0,3255532,0
49998,HS,2020,202012,December 2020,6,1,2,Exports,826,United Kingdom,...,World,NaN,81340,"Fruit, edible; fruit n.e.s. in heading no. 081...",0,NaN,NaN,74429.0,510181,0
49999,HS,2020,202012,December 2020,6,1,2,Exports,826,United Kingdom,...,World,NaN,81350,"Nuts, edible; mixtures of nuts or dried fruits...",0,NaN,NaN,203839.0,1320496,0

In [12]:
d = uk.load_dataset(assets={"dec2020":uk_data}, 
                    name=b"UK Trade Data - first 50K rows", 
                    description=b"""A collection of reports from UK's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""")

In [13]:
uk.store

In [ ]:
# uk node
# uk = sy.login(url="http://54.242.39.40", email="info@openmined.org", password="changethis", port=80)

In [ ]:
ca.users.create(name="Andrew Trask",
                email="andrew@openmined.org",
                password="abc123")

In [ ]:
ca.users

In [ ]:
ca.store

In [ ]:
ca.requests.pandas

In [ ]:
ca.requests[0].accept()

In [ ]:
ca.users

In [ ]:
d = ca.datasets[-1]

In [ ]:
d.sample

In [ ]:
ca.datasets[0]

In [ ]:
# un = sy.login(email="info@openmined.org", password="changethis", port=8082)

In [ ]:
# ca.users.update(user_id=1, name="Bob")
# un.users.update(user_id=1, name="Alice")

In [ ]:
un.users.all(pandas=True)

In [ ]:
# us = sy.login(email="info@openmined.org", password="changethis", port=8082)
# it = sy.login(email="info@openmined.org", password="changethis", port=8083)
# ne = sy.login(email="info@openmined.org", password="changethis", port=8084)

In [ ]:
y = p + p

In [ ]:
y.get()