In [1]:
import syft as sy
import pandas as pd

ca = sy.login(email="info@openmined.org", port=8081)
# us = sy.login(email="info@openmined.org", password="changethis", port=8082)
# it = sy.login(email="info@openmined.org", password="changethis", port=8083)
# ne = sy.login(email="info@openmined.org", password="changethis", port=8084)

ca.users.create(name="Andrew Trask",
                email="andrew@openmined.org",
                password="abc1232")

canada = pd.read_csv('../datasets/ca - feb 2021.csv')[0:50000]

Welcome info@openmined.org!

Please enter you password: ··········

Connecting to http://localhost:8081... done! 	 Logging into Canada...

[2021-07-07T21:43:38.598430+0100][CRITICAL][logger]][10301] UnknownPrivateException has been triggered.

done!
Ignoring: user with email:andrew@openmined.org already exists

/Users/andrewliamtrask/opt/anaconda3/envs/syft39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
# d = ca.load_dataset(assets={"feb2021":canada}, 
#                     name="Canada Trade Data", 
#                     description="""A collection of reports from canada's statistics 
#                     bureau about how much it thinks it importsa nd exports from other countries.""",
#                     sample=canada[0:10])

In [3]:
ca.datasets

In [6]:
ca.users

In [3]:
d = ca.datasets[-1]

In [5]:
d.sample

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
5,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Viet Nam,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,3526,0
6,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,South Africa,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,5462,0
7,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Spain,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,311425,0
8,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Sweden,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,11786,0
9,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Venezuela,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,33715,0

In [24]:
ca.datasets[0]

In [6]:
# un = sy.login(email="info@openmined.org", password="changethis", port=8082)

In [4]:
# ca.users.update(user_id=1, name="Bob")
# un.users.update(user_id=1, name="Alice")

In [7]:
un.users.all(pandas=True)

,id,email,name,verify_key,role,groups
0,1,info@openmined.org,Alice,319dcebf3e86a43ab68d0d04cda50e345f50a8595c0be5...,Owner,[]

In [9]:
y = p + p

In [10]:
y.get()

[2021-06-30T16:06:51.320382+0000][CRITICAL][logger]][207] UnknownPrivateException has been triggered.

UnknownPrivateException: UnknownPrivateException has been triggered.