In [1]:
import pandas as pd
import syft as sy
import numpy as np
sy.logger.remove()

### Logging into the domain Nodes

In [4]:
# We will login into Canada and Italy domain node
ca = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8081)
it = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8082)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!
Connecting to http://localhost:8082... done! 	 Logging into italy... done!

In [5]:
ca.datasets

In [11]:
it.datasets

In [14]:
ca_data = ca.datasets[2]['feb2020-100']
it_data = it.datasets[1]['feb2020-100']

In [15]:
result = ca_data + it_data

MPCTensor.shape=(100, 3)
	 .child[0] = <ShareTensorPointer -> canada:99460aeb41b64c5aa72ce00a5a5240a9>
	 .child[1] = <ShareTensorPointer -> italy:7705d6602c4740b6953a1e24e8b5e3aa>
MPCTensor.shape=(100, 3)
	 .child[0] = <ShareTensorPointer -> canada:8b3de1091d1e4935b51fde8aa2643867>
	 .child[1] = <ShareTensorPointer -> italy:85d7603236a54ac0a70ec92b64694bb5>
C.N.0
C.N.1
C.N.1.A
<built-in function add>
add

In [8]:
result = result.publish(sigma=100)

In [9]:
result.get()

array([[      2,     526,   11184],
       [      2,    1178,  251483],
       [      2,    1254, 1809585],
       ...,
       [      3,    1218,     295],
       [      3,     673,    3012],
       [      3,     861,    2887]])