In [1]:
import pandas as pd
import syft as sy
import numpy as np
sy.logger.remove()

Seeding DB with roles!

### Logging into the domain Nodes

In [2]:
# We will login into Canada and Italy domain node
ca = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8081)
it = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8082)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!
Connecting to http://localhost:8082... done! 	 Logging into italy... done!

In [17]:
ca.datasets

In [18]:
it.datasets

In [19]:
ca.privacy_budget

10.0

In [20]:
it.privacy_budget

10.0

In [21]:
ca_data = ca.datasets[1]['feb2020-100']
it_data = it.datasets[1]['feb2020-100']

In [22]:
ca_data

In [24]:
# result = ca_data + it_data

In [25]:
result = ca_data.share(it)

In [41]:
public_result = result.publish(sigma=10)

a
b
c
d
a
b
c
d

In [44]:
public_result.get()

Tensor(child=ShareTensor(child=[[-10   7   0]
 [ 13 -19   4]
 [ -4  -1  -4]
 [-18   8  16]
 [ 17   8 -14]
 [ 10 -15  -7]
 [  1  -5  13]
 [ -5   2   6]
 [  0  16 -13]
 [ 20 -19  30]]))

In [45]:
it.privacy_budget

10.0

In [46]:
ca.privacy_budget

10.0