# PyGrid Client Worker API

### Import Libs

In [1]:
from syft.grid.client.client import connect
from syft.grid.client.grid_connection import GridHTTPConnection
from syft.core.node.domain.client import DomainClient

import syft as sy
import torch as th

sy.VERBOSE = False

### Connect performing authentication process

In [2]:
client = connect(
    url="http://localhost:5000", # Domain Address
    credentials={"email":"admin@email.com", "password":"pwd123"},
    conn_type= GridHTTPConnection, # HTTP Connection Protocol
    client_type=DomainClient) # Domain Client type

### Create a new workers/environments

In [3]:
client.workers.create(
    name="Diabetes Research Environment",
    address="http://255.255.255.255",
    memory="16gb",
    instance="EC2",
    gpu="Tesla V100")

client.workers.create(
    name="Breast Cancer Research Environment",
    address="http://255.255.255.255",
    memory="32gb",
    instance="EC2",
    gpu="Tesla V100")

client.workers.create(
    name="Dementia Research Environment",
    address="http://255.255.255.255",
    memory="32gb",
    instance="EC2",
    gpu="Tesla V100")

{'msg': 'Worker created succesfully!'}

### Get all Environments

In [4]:
client.workers.all(pandas=True)

,id,name,address,syft_address,memory,instance,gpu
0,1,Diabetes Research Environment,http://255.255.255.255,None,16gb,EC2,Tesla V100
1,2,Breast Cancer Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100
2,3,Dementia Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100
3,4,Diabetes Research Environment,http://255.255.255.255,None,16gb,EC2,Tesla V100
4,5,Breast Cancer Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100
5,6,Dementia Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100

### Get Specific Environment

In [5]:
_worker = client.workers.get(worker_id=1)
print("Worker name: ", _worker.name)
print("Worker GPU: ", _worker.gpu)
print("Worker Instance: ", _worker.instance)
print("Worker Memory: ", _worker.memory)

Worker name:  Diabetes Research Environment
Worker GPU:  Tesla V100
Worker Instance:  EC2
Worker Memory:  16gb

### Update Environment

In [7]:
client.workers.update(worker_id=1, name="Testing Rename Environment", memory="32gb")

{'msg': 'Worker was updated succesfully!'}

In [8]:
_worker = client.workers.get(worker_id=1)
assert _worker.name == "Testing Rename Environment"
assert _worker.memory == "32gb"

### Delete Environment

In [10]:
client.workers.delete(worker_id=3)

{'msg': 'Worker was deleted succesfully!'}

In [12]:
client.workers.all(pandas=True)

,id,name,address,syft_address,memory,instance,gpu
0,1,Testing Rename Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100
1,2,Breast Cancer Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100
2,4,Diabetes Research Environment,http://255.255.255.255,None,16gb,EC2,Tesla V100
3,5,Breast Cancer Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100
4,6,Dementia Research Environment,http://255.255.255.255,None,32gb,EC2,Tesla V100