<h1>Data Owner </h1>

In [1]:
# Import libraries
import syft as sy
import torch
import numpy as np
from syft.core.adp.entity import Entity

In [2]:
# Login to new Domain

uk = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into romantic_lecun... done!

In [3]:
# Look at data already in the Domain
uk.store

In [4]:
n = 10

data_batch = np.array([13] * n)

entities = list()
for i in range(n):
    entities.append(Entity(name=str(i)))

# Upload a private dataset to the Domain object, as the root owner
data = sy.Tensor(data_batch).private(0, 20, entities=entities).tag("data2")
# target = sy.Tensor(label_batch).private(0.01, 1, entity=ishan).autograd(requires_grad=True).tag("target2")

In [5]:
data

Tensor(child=RowEntityPhiTensor(child=[SingleEntityPhiTensor(entity=0, child=[13]), SingleEntityPhiTensor(entity=1, child=[13]), SingleEntityPhiTensor(entity=2, child=[13]), SingleEntityPhiTensor(entity=3, child=[13]), SingleEntityPhiTensor(entity=4, child=[13]), SingleEntityPhiTensor(entity=5, child=[13]), SingleEntityPhiTensor(entity=6, child=[13]), SingleEntityPhiTensor(entity=7, child=[13]), SingleEntityPhiTensor(entity=8, child=[13]), SingleEntityPhiTensor(entity=9, child=[13])]))

In [6]:
data_batch

array([13, 13, 13, 13, 13, 13, 13, 13, 13, 13])

In [13]:
# Send data to the domain object
data_ptr = data.send(uk)

In [8]:
# target_ptr = target.send(uk)

In [14]:
uk.store

In [15]:
# # Step 3: Verify data was logged correctly
# print([i.id_at_location for i in (data_ptr, target_ptr)])

In [16]:
uk.store