<h1>Data Owner </h1>

In [2]:
# Import libraries
import syft as sy
import torch
import numpy as np
from syft.core.adp.entity import Entity

In [3]:
# Login to new Domain

uk = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into canada... done!

In [4]:
# Look at data already in the Domain
uk.store

[]

In [40]:
n = 200

# Load some sample data
data_batch = np.array([13]*n)

entities = list()
for i in range(n):
    entities.append(Entity(name=str(i)))

# Upload a private dataset to the Domain object, as the root owner
data = sy.Tensor(data_batch).private(0, 20, entities=entities).tag("data8")
# target = sy.Tensor(label_batch).private(0.01, 1, entity=ishan).autograd(requires_grad=True).tag("target2")

In [41]:
# Send data to the domain object
data_ptr = data.send(uk)

In [42]:
# target_ptr = target.send(uk)

In [43]:
uk.store

In [10]:
# Step 3: Verify data was logged correctly
print([i.id_at_location for i in (data_ptr, target_ptr)])

[<UID: c523812410624213ab653b40b444c075>, <UID: aa0034ee7a044f4b8e339cdc44332803>]

In [11]:
uk.store

[<syft.proxy.syft.lib.python.IntPointer object at 0x7f89097ad890>, <syft.proxy.syft.lib.python.FloatPointer object at 0x7f89097adfd0>, <syft.proxy.syft.lib.python.FloatPointer object at 0x7f89097ada50>, <syft.proxy.syft.core.adp.AccountantReferencePointer object at 0x7f89097ad810>, <syft.proxy.syft.core.tensor.tensor.TensorPointer object at 0x7f89097ad4d0>, <syft.proxy.syft.core.tensor.tensor.TensorPointer object at 0x7f89097a7510>]