In [1]:
%load_ext autoreload
%autoreload

In [2]:
import syft as sy
import numpy as np
from syft.core.adp.entity import Entity
sy.logger.remove()

In [3]:
domain1 = sy.login(email="info@openmined.org", password="changethis", port=8081)
domain2 = sy.login(email="info@openmined.org", password="changethis", port=8082)

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to None... done! 	 Logging into canada... done!
WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to None... done! 	 Logging into italy... done!

In [42]:
domain1.users

In [44]:
domain2.users

In [45]:

for domain in [domain1,domain2]:
    if domain.users.pandas().shape[0] == 1:
        domain.users.create(
            **{
                "name": "Sheldon Cooper",
                "email": "sheldon@caltech.edu",
                "password": "bazinga",
                "budget":200
            }
        )
        
        domain.users

In [46]:
data = np.random.randint(1, 100, size=(5, 5), dtype=np.int32)
ishan = Entity(name="Ishan")

tensor = sy.Tensor(data).private(min_val=0, max_val=100, entities=ishan)

In [7]:
data

array([[36, 58, 57, 58, 27],
       [40, 29, 19, 13, 75],
       [89, 12, 10, 97, 16],
       [69, 93, 48, 24,  7],
       [96, 99, 41, 45,  4]], dtype=int32)

In [47]:
domain1.load_dataset(
    assets={"data": tensor},
    name="Sample data",
    description="Sample data to test privacy budget is being updated"
)
domain2.load_dataset(
    assets={"data": tensor},
    name="Sample data",
    description="Sample data to test privacy budget is being updated"
)

Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!

In [48]:
domain1.datasets

## Log in as Data Scientist

In [4]:
ds1 = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8081)
ds2 = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8082)

Connecting to None... done! 	 Logging into canada... done!
Connecting to None... done! 	 Logging into italy... done!

In [50]:
ds1.datasets

In [56]:
ds1.request_budget(eps=200,reason="I really want it.")
ds2.request_budget(eps=200,reason="I really want it.")

Requested 200 epsilon of budget. Call .privacy_budget to see if your budget has arrived!
Requested 200 epsilon of budget. Call .privacy_budget to see if your budget has arrived!

In [60]:
domain1.requests[-1].accept()
domain2.requests[-1].accept()

In [7]:
ds1.privacy_budget

298.55190303438684

In [8]:
ptr1 = ds1.datasets[-1]["data"]
ptr2 = ds2.datasets[-1]["data"]

In [63]:
print(ptr1.client)
print(ptr2.client)

<DomainClient - canada: <UID: b0ddc973a42e4f24bfd8db02a13f91dd>>
<DomainClient - italy: <UID: 3eba7458a9ac4907ad30e5231857b2d1>>

In [31]:
result = ptr1 + ptr2

In [65]:
type(result)

syft.core.tensor.smpc.mpc_tensor.MPCTensor

In [32]:
published_result = result.publish(sigma=100)

In [33]:
ds1.privacy_budget

34.40456180157662

In [19]:
published_result.child[1].exists

True

In [34]:
published_result.get()

You do not have sufficient privacy budget. Kindly request for additional privacy budget.

Before clip [[ 113  215 -420  -80  183]
 [-215 -241  -72 -259   -9]
 [  29   58  270 -273    4]
 [ -85  135  111  107   50]
 [  59  -27  -99   58  118]]
min_vals [[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]
max_vals [[200 200 200 200 200]
 [200 200 200 200 200]
 [200 200 200 200 200]
 [200 200 200 200 200]
 [200 200 200 200 200]]

array([[113, 200,   0,   0, 183],
       [  0,   0,   0,   0,   0],
       [ 29,  58, 200,   0,   4],
       [  0, 135, 111, 107,  50],
       [ 59,   0,   0,  58, 118]], dtype=int32)

In [24]:
ds2.privacy_budget

200.0