In [1]:
%load_ext autoreload
%autoreload

In [2]:
import syft as sy
import numpy as np
from syft.core.adp.entity import Entity

In [3]:
domain = sy.login(email="info@openmined.org", password="changethis", port=8081)

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to None... done! 	 Logging into adp... done!

In [4]:
domain.users

In [26]:
if domain.users.pandas().shape[0] == 1:
    domain.users.create(
        **{
            "name": "Sheldon Cooper",
            "email": "sheldon@caltech.edu",
            "password": "bazinga",
            "budget":200
        }
    )
    
    domain.users

In [6]:
data = np.random.randint(1, 100, size=(5, 5), dtype=np.int32)
ishan = Entity(name="Ishan")

tensor = sy.Tensor(data).private(min_val=0, max_val=100, entities=ishan)

In [7]:
data

array([[68, 29, 56, 70, 81],
       [36,  7, 17, 74, 92],
       [71, 89, 63, 17, 85],
       [28, 93, 74, 60, 55],
       [ 2, 85, 57, 39, 97]], dtype=int32)

In [8]:
domain.load_dataset(
    assets={"data": tensor},
    name="Sample data",
    description="Sample data to test privacy budget is being updated"
)

Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!

In [9]:
domain.datasets

## Log in as Data Scientist

In [10]:
ds_node = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8081)

Connecting to None... done! 	 Logging into adp... done!

In [11]:
ds_node.datasets

In [12]:
ds_node.privacy_budget

200.0

In [13]:
ptr = ds_node.datasets[-1]["data"]

In [14]:
ptr

array([[94, 66, 37, 15,  6],
       [ 6, 16, 57,  9, 96],
       [39,  0, 88, 87, 17],
       [21, 56, 10, 79, 33],
       [27, 72, 97, 51, 53]], dtype=int32)

 (The data printed above is synthetic - it's an imitation of the real data.)

In [15]:
result = ptr + ptr

In [16]:
published_result = result.publish(sigma=2)

In [17]:
published_result.get()

[[ 0.25794939  3.92859779 -3.95740089  0.46080803 -3.22837979]
 [-1.24034939  2.98564661 -2.15095737  0.70116107 -1.91253445]
 [ 3.27461891  1.87878446  1.67048117 -1.1635581   0.53179833]
 [-2.80881363 -1.120212   -0.90967872  2.69871674  1.50395289]
 [ 2.97687841  0.61946438  0.81029721  0.65812988  1.56049942]]
You might have run out of privacy budget :(

array([[ 0.25794939,  3.92859779, -3.95740089,  0.46080803, -3.22837979],
       [-1.24034939,  2.98564661, -2.15095737,  0.70116107, -1.91253445],
       [ 3.27461891,  1.87878446,  1.67048117, -1.1635581 ,  0.53179833],
       [-2.80881363, -1.120212  , -0.90967872,  2.69871674,  1.50395289],
       [ 2.97687841,  0.61946438,  0.81029721,  0.65812988,  1.56049942]])

In [22]:
ds_node.privacy_budget

200.0