In [1]:
import numpy as np
import syft as sy
from syft.core.adp.entity import Entity

In [2]:
domain_node = sy.login(email="info@openmined.org", password="changethis", port=8081)

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to None... done! 	 Logging into adp... done!

In [3]:
domain_node.datasets

In [4]:
domain_node.store

[]

In [5]:
count = 0

for n in np.linspace(5, 50, 10):
    n = int(n)
    
    # Create datasets of various sizes
    new_data = sy.Tensor(
        np.random.randint(low=5000, high=50000, size=(int(n)), dtype=np.int32)
    ).private(
        min_val=5000, 
        max_val=50000, 
        entities=[Entity(name=f'Entity{i}') for i in range(count, count + n)]
    )
    
    # Doing this to ensure there's a new entity for every row (worst case scenario)
    count += n
    
    # Upload dataset to domain node for DS use
    domain_node.load_dataset(
        assets={n: new_data},
        name=str(n),
        description=f"{n} integers"
    )

Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!

In [6]:
domain_node.datasets

In [7]:
domain_node.users

In [8]:
domain_node.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
    },
)

In [9]:
domain_node.users

In [10]:
# for i in range(20):
#     name = domain_node.datasets[i].name
#     domain_node.datasets[i].delete(str(name))