In [1]:
import numpy as np
import syft as sy
from syft.core.adp.entity import Entity

In [2]:
domain_node = sy.login(email="info@openmined.org", password="changethis", port=8081)

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to None... done! 	 Logging into adp... done!

In [3]:
domain_node.datasets

In [4]:
domain_node.store

[]

In [6]:
ishan = Entity(name="Ishan")
data = sy.Tensor(np.random.randint(low=5, high=50, size=(10), dtype=np.int32)).private(min_val=5, max_val=50, entities=ishan)

In [7]:
data.send(domain_node, description="10 integers", tags=["10"])

array([30, 37, 10, 28, 32, 28, 35, 17, 44, 21], dtype=int32)

 (The data printed above is synthetic - it's an imitation of the real data.)

In [8]:
domain_node.store

[array([34, 38, 35, 36,  6, 23, 29, 45,  8, 23], dtype=int32)

 (The data printed above is synthetic - it's an imitation of the real data.)]

In [11]:
for n in np.linspace(5, 50, 10):
    # Create datasets of various sizes
    new_data = sy.Tensor(np.random.randint(low=5, high=50, size=(int(n)), dtype=np.int32)).private(min_val=5, max_val=50, entities=ishan)
    
    # Upload dataset to domain node for DS use
    domain_node.load_dataset(
        assets={int(n): new_data},
        name=str(int(n)),
        description=f"{n} integers"
    )

Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!

In [12]:
domain_node.datasets

In [13]:
domain_node.users

In [14]:
domain_node.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
    },
)

In [15]:
domain_node.users