In [29]:
import syft as sy
import numpy as np

In [108]:
# Login to the domain

domain = sy.login(
    email="info@openmined.org",
    password="changethis",
    port=8081,
)

Connecting to http://localhost:8081... done! 	 Logging into mednode... done!

In [88]:
# Let's create an empty dataset

domain.create_dataset(
    name="Canada Trade Dataset",
    description="Canada Trade dataset for Febuary"
)

Creating an empty dataset... Creating... SUCCESS!

In [89]:
domain.datasets

In [90]:
dataset_pointer = domain.datasets[0]

In [94]:
import pandas as pd
# Load the first 100 rows
ca_data = pd.read_csv("trade_demo/datasets/ca - feb 2021.csv")[:10]

/home/user/anaconda3/envs/pysyft/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [95]:
start, end = 0, len(ca_data)
batch_size = 1
idx = 0
while(start < end):
    idx += 1
    batch = ca_data[start:start+batch_size] # Select the batch
    partner = batch["Partner"].values[0]
    trade_type = batch["Trade Flow"].values[0]
    commodity_name = batch["Commodity"].values[0]
    entities = [str(partner)]
    batch = batch[["Partner Code", "Trade Flow Code", "Trade Value (US$)", "Commodity Code"]]
    
    # Convert to numpy array
    batch = batch.values.astype(np.int32)
    # Convert to tensor
    batch_tensor = sy.Tensor(batch)
    batch_tensor.public_shape = batch_tensor.shape
    batch_tensor = batch_tensor.private(0, 1500000, entities=entities)

    name = f"ca {trade_type} {commodity_name} from {partner}"  # Asset key name
    dataset_pointer.add(name=name, value=batch_tensor)  # Add each row as an asset
    start += batch_size
    print(f" Batches successfully uploaded: {idx}/{end//batch_size}")

Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 1/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 2/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 3/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 4/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 5/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 6/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 7/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 8/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 9/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 10/10

In [96]:
dataset_pointer

Dataset: Canada Trade Dataset
Description: Canada Trade dataset for Febuary

In [102]:
all_data = pd.read_csv("trade_demo/datasets/ca - feb 2021.csv")

/home/user/anaconda3/envs/pysyft/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
7920,HS,2021,202102,February 2021,4,0,2,Exports,124,Canada,...,Bahamas,NaN,2101,"Extracts, essences, concentrates of coffee, te...",0,NaN,NaN,16.0,39,0
7921,HS,2021,202102,February 2021,4,0,2,Exports,124,Canada,...,Philippines,NaN,2101,"Extracts, essences, concentrates of coffee, te...",0,NaN,NaN,1358.0,8831,0
7922,HS,2021,202102,February 2021,4,0,2,Exports,124,Canada,...,Egypt,NaN,2101,"Extracts, essences, concentrates of coffee, te...",0,NaN,NaN,6051.0,15473,0
7923,HS,2021,202102,February 2021,4,0,2,Exports,124,Canada,...,United Kingdom,NaN,2101,"Extracts, essences, concentrates of coffee, te...",0,NaN,NaN,13339.0,40093,0
7924,HS,2021,202102,February 2021,4,0,2,Exports,124,Canada,...,Belgium,NaN,2102,Yeasts (active or inactive); other single-cell...,0,NaN,NaN,68960.0,391782,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227449,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550952,"Yarn; (not sewing thread), of polyester staple...",0,NaN,NaN,5406.0,34272,0
227450,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550999,"Yarn; (not sewing thread), of synthetic staple...",0,NaN,NaN,7345.0,228182,0
227451,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550969,"Yarn; (not sewing thread), of acrylic or modac...",0,NaN,NaN,1839.0,18812,0
227452,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550962,"Yarn; (not sewing thread), of acrylic or modac...",0,NaN,NaN,1437.0,23140,0
227453,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550959,"Yarn; (not sewing thread), of polyester staple...",0,NaN,NaN,5660.0,73652,0