In [4]:
import syft as sy
import numpy as np

In [5]:
# Login to the domain

domain = sy.login(
    email="info@openmined.org",
    password="changethis",
    port=8081,
)

Connecting to http://localhost:8081... done! 	 Logging into mednode... done!

In [6]:
# Let's create an empty dataset

domain.create_dataset(
    name="Italy Trade Dataset",
    description="Italy Trade dataset for Febuary"
)

Creating an empty dataset... Creating... SUCCESS!

In [7]:
domain.datasets

In [8]:
dataset_pointer = domain.datasets[0]

In [9]:
import pandas as pd
# Load the first 100 rows
it_data = pd.read_csv("trade_demo/datasets/it - feb 2021.csv")[:10]

/home/user/anaconda3/envs/pysyft/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
start, end = 0, len(it_data)
batch_size = 1
idx = 0
while(start < end):
    idx += 1
    batch = it_data[start:start+batch_size] # Select the batch
    
    partner = batch["Partner"].values[0]
    trade_type = batch["Trade Flow"].values[0]
    commodity_name = batch["Commodity"].values[0]
    
    entities = [str(partner)]
    batch = batch[["Partner Code", "Trade Flow Code", "Trade Value (US$)", "Commodity Code"]]
    
    # Convert to numpy array
    batch = batch.values.astype(np.int32)
    # Convert to tensor
    batch_tensor = sy.Tensor(batch)
    batch_tensor.public_shape = batch_tensor.shape
    batch_tensor = batch_tensor.private(0, 1500000, entities=entities)

    name = f"Italy {trade_type} {commodity_name} from {partner}"  # Asset key name
    dataset_pointer.add(name=name, value=batch_tensor)  # Add each row as an asset
    start += batch_size
    print(f" Batches successfully uploaded: {idx}/{end//batch_size}")

Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 1/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 2/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 3/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 4/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 5/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 6/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 7/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 8/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 9/10
Loading dataset... uploading...
SUCCESS! Batches successfully uploaded: 10/10

In [11]:
dataset_pointer

Dataset: Italy Trade Dataset
Description: Italy Trade dataset for Febuary

TypeError: describe() missing 1 required positional argument: 'description'