In [1]:
import syft as sy
import numpy as np
import pandas as pd
from syft.core.adp.entity_list import EntityList
from time import time

In [2]:
df = pd.read_parquet("1M_rows_dataset_sample.parquet")
print(f"Number of Rows: {df.shape[0]:_}")
df.head()

Number of Rows: 1_000_000

,tweet_id,impressions,tweet_date_time,date,time,user_id,url,publication_title,ad_fontes_bias,ad_fontes_reliability,domain
0,1,9029,2021-03-21 06:29:10,2021-03-21,06:29:10,92256,https://www.aljazeera.com/news/2019/04/trump-v...,Al Jazeera,-0.75,48.0,.aljazeera.com
1,1,9029,2021-03-21 06:29:10,2021-03-21,06:29:10,418264,https://www.aljazeera.com/news/2019/04/trump-v...,Al Jazeera,-0.75,48.0,.aljazeera.com
2,1,9029,2021-03-21 06:29:10,2021-03-21,06:29:10,195053,https://www.aljazeera.com/news/2019/04/trump-v...,Al Jazeera,-0.75,48.0,.aljazeera.com
3,1,9029,2021-03-21 06:29:10,2021-03-21,06:29:10,590420,https://www.aljazeera.com/news/2019/04/trump-v...,Al Jazeera,-0.75,48.0,.aljazeera.com
4,1,9029,2021-03-21 06:29:10,2021-03-21,06:29:10,602475,https://www.aljazeera.com/news/2019/04/trump-v...,Al Jazeera,-0.75,48.0,.aljazeera.com

In [3]:
billion_rows = pd.concat([df]*1000)

In [ ]:
billion_rows.shape[0]

Error: Session cannot generate requests

In [ ]:
%%time
name = "Tweets- 1_000_000 rows dataset "
impressions = df['impressions'].to_numpy(np.int32)
data_subjects = EntityList.from_series(df['user_id'])
tweets_data = sy.Tensor(impressions).private(min_val=500, max_val=25000, entities = data_subjects,ndept=True)

In [ ]:
domain_node = sy.login(email="info@openmined.org",password="changethis",port=8081)

In [ ]:
name = f"Tweets data- {time()}"
domain_node.load_dataset(
assets={name: tweets_data},
name=name,
description=" Tweets- 1B rows  ",
use_blob_storage=True

)