# CH1842

In [2]:
import syft as sy
import numpy as np

In [3]:
domain = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://docker-host:8081... done! 	 Logging into brazil... done!

### 1 - Creating DS users with PB always equals 0

In [4]:
domain.users.create(email="data_scientist1@openmined.org", password="tst123", name="Ana")
domain.users.create(email="data_scientist2@openmined.org", password="tst123", name="Bob")
domain.users.create(email="data_scientist3@openmined.org", password="tst123", name="Phil")
domain.users.create(email="data_scientist4@openmined.org", password="tst123", name="Alice")

In [5]:
domain.users.pandas()

,budget,budget_spent,email,groups,id,name,role,verify_key
0,55.55,0.0,info@openmined.org,[],1,Jane Doe,Owner,c690fdbf0c335ebd0640da0cc9503aa6b4d16e6494cf7a...
1,0.00,0.0,data_scientist1@openmined.org,[],2,Ana,Data Scientist,36f654a3d6de919fbd211e30f1c8c4bd08db803a7621d3...
2,0.00,0.0,data_scientist2@openmined.org,[],3,Bob,Data Scientist,a69d2fb186e745d0d1100b6cccec41ac050d4e99b4792e...
3,0.00,0.0,data_scientist3@openmined.org,[],4,Phil,Data Scientist,b648735e1d6c82650397c67daca0b65490fc88da9828be...
4,0.00,0.0,data_scientist4@openmined.org,[],5,Alice,Data Scientist,5d6b7550d50c3342a51bd7e0024be90f1f4cb19031109a...

#### 1.1 - Updating DS users PB using Owner account

In [6]:
domain.users.update(user_id=2, budget=10.0)
domain.users.update(user_id=3, budget=15.0)
domain.users.update(user_id=4, budget=20.0)
domain.users.update(user_id=5, budget=25.0)

In [7]:
domain.users.pandas()

,budget,budget_spent,email,groups,id,name,role,verify_key
0,55.55,0.0,info@openmined.org,[],1,Jane Doe,Owner,c690fdbf0c335ebd0640da0cc9503aa6b4d16e6494cf7a...
1,10.00,0.0,data_scientist1@openmined.org,[],2,Ana,Data Scientist,36f654a3d6de919fbd211e30f1c8c4bd08db803a7621d3...
2,15.00,0.0,data_scientist2@openmined.org,[],3,Bob,Data Scientist,a69d2fb186e745d0d1100b6cccec41ac050d4e99b4792e...
3,20.00,0.0,data_scientist3@openmined.org,[],4,Phil,Data Scientist,b648735e1d6c82650397c67daca0b65490fc88da9828be...
4,25.00,0.0,data_scientist4@openmined.org,[],5,Alice,Data Scientist,5d6b7550d50c3342a51bd7e0024be90f1f4cb19031109a...

### 2 - Deleting / Reseting a node ...

In [13]:
import torch as th

x = th.tensor([1,2,3,4,5])

x_s = x.send(domain, tags=["#x", "testing"], description="features!", pointable=True)

In [9]:
ds1_domain_session = sy.login(email="data_scientist1@openmined.org", password="tst123", port=8081)
ds2_domain_session = sy.login(email="data_scientist2@openmined.org", password="tst123", port=8081)
ds3_domain_session = sy.login(email="data_scientist3@openmined.org", password="tst123", port=8081)
ds4_domain_session = sy.login(email="data_scientist4@openmined.org", password="tst123", port=8081)

Connecting to http://docker-host:8081... done! 	 Logging into brazil... done!
Connecting to http://docker-host:8081... done! 	 Logging into brazil... done!
Connecting to http://docker-host:8081... done! 	 Logging into brazil... done!
Connecting to http://docker-host:8081... done! 	 Logging into brazil... done!

In [14]:
x_s1 = ds1_domain_session.store['#x'].request(reason="DS1 - I need to see this data!")
x_s1 = ds2_domain_session.store['#x'].request(reason="DS2 - I need to see this data!")
x_s1 = ds3_domain_session.store['#x'].request(reason="DS3 - I need to see this data!")
x_s1 = ds4_domain_session.store['#x'].request(reason="DS4 - I need to see this data!")

#### 2.2 - Check hosted data / Data Requets

In [15]:
domain.store.pandas

,ID,Tags,Description,object_type
0,<UID: 877436aa27764954856df35900f2b736>,"[#x, testing]",features!,<class 'torch.Tensor'>

In [16]:
domain.requests.pandas

,Requested Object's tags,Reason,Request ID,Requested Object's ID,Requested Object's type
0,"[#x, testing]",DS1 - I need to see this data!,<UID: 03b71a1bf4f54651bff16e113c50b7cc>,<UID: 877436aa27764954856df35900f2b736>,<class 'torch.Tensor'>
1,"[#x, testing]",DS2 - I need to see this data!,<UID: 5d47d048baa24ebf9022a46d0e4740de>,<UID: 877436aa27764954856df35900f2b736>,<class 'torch.Tensor'>
2,"[#x, testing]",DS3 - I need to see this data!,<UID: 351ab4fd7c234d41a0ff1d90f6cdd791>,<UID: 877436aa27764954856df35900f2b736>,<class 'torch.Tensor'>
3,"[#x, testing]",DS4 - I need to see this data!,<UID: 94e7475382a8482a8a28c8421f7358af>,<UID: 877436aa27764954856df35900f2b736>,<class 'torch.Tensor'>

#### 2.3 - Reset Node

In [17]:
domain.reset()

WARNING:root:When resetting the node, all stored data will be lost, as well as the request history. Are you sure you want to continue (y/N)?

y

#### 2.4 - Check hosted data / Data Requets

In [18]:
domain.store.pandas

Empty DataFrame
Columns: []
Index: []

In [19]:
domain.requests.pandas

Empty DataFrame
Columns: []
Index: []

### 3 - Transfering Ownership

In [20]:
domain.users.update(user_id=2, role="Owner")

In [21]:
domain.users.pandas()

,budget,budget_spent,email,groups,id,name,role,verify_key
0,15.00,0.0,data_scientist2@openmined.org,[],3,Bob,Data Scientist,a69d2fb186e745d0d1100b6cccec41ac050d4e99b4792e...
1,20.00,0.0,data_scientist3@openmined.org,[],4,Phil,Data Scientist,b648735e1d6c82650397c67daca0b65490fc88da9828be...
2,25.00,0.0,data_scientist4@openmined.org,[],5,Alice,Data Scientist,5d6b7550d50c3342a51bd7e0024be90f1f4cb19031109a...
3,10.00,0.0,data_scientist1@openmined.org,[],2,Ana,Owner,36f654a3d6de919fbd211e30f1c8c4bd08db803a7621d3...
4,55.55,0.0,info@openmined.org,[],1,Jane Doe,Administrator,c690fdbf0c335ebd0640da0cc9503aa6b4d16e6494cf7a...